<div style="background-image: url(../../assets/img/covid.jpg) ;width: 100%;height: 800px;padding-top: 50px;">
    <div class="card"  style="width: 50%;height: auto;background-color: #80b3ff;margin-left: 25%;">
        <div class="card-body">
            <form class="float-left"> 
                <button routerLink="/accueil"    mat-fab color="primary">
                    <mat-icon class="icon">home</mat-icon>
                </button>
            </form>
            <form class="float-right"> 
                <div class="wrapper">
                    <a type="submit" class="btn" style="font-size: 40px;margin-top: -10px;" routerLink="/logout" >
                        <strong>
                            <i color="primary" class="fas fa-sign-out-alt"></i>
                        </strong>
                    </a>
                </div>
            </form>
            <form  style="margin-left: 40%;" > 
                <div class="wrapper">
                    <button  mat-raised-button color="primary" style="margin-top: 10px;" type="submit" routerLink="/consignes" ><strong>Consignes</strong></button>
                </div>
            </form><br><hr>
            <div style="display: inline-block;">
                <mat-icon>looks_one</mat-icon>
            <mat-label>  <strong style="margin-left: 30px;">Lavez-vous souvent les mains</strong></mat-label>
                <img src="../../assets/img/1 (6).png" style="margin-left: 240px;margin-top: -10px;" alt="virus" width="90px" height="90px">
            </div>
            <hr>
                <div style="display: inline-block;">
                    <mat-icon>looks_two</mat-icon>
                <mat-label>  <strong style="margin-left: 30px;">Gardez une distance de sécurité.</strong></mat-label>
                    <img src="../../assets/img/1 (5).png" style="margin-left: 240px;margin-top: -10px;" alt="virus" width="90px" height="90px">
                </div>
                <hr>
                <div style="display: inline-block;">
                    <mat-icon>looks_3</mat-icon>
                <mat-label>  <strong style="margin-left: 30px;">Restez chez vous autant que possible</strong></mat-label>
                    <img src="../../assets/img/stop.png" style="margin-left: 500px;margin-top: -40px;margin-bottom: -10px;" alt="virus" width="100px" height="100px">
                </div>
                <hr>
                <div style="display: inline-block;">
                    <mat-icon>looks_4</mat-icon>
                <mat-label>  <strong style="margin-left: 30px;">Couvrez-vous la bouche quand vous toussez.</strong></mat-label>
                    <img src="../../assets/img/friends.png" style="margin-left: 500px;margin-top: -40px;" alt="virus" width="90px" height="90px">
                </div>
                <hr>
                <div style="display: inline-block;">
                    <mat-icon>looks_5</mat-icon>
                <mat-label>  <strong style="margin-left: 30px;">Vous etes malade?Appelez votre médecin.</strong></mat-label>
                    <img src="../../assets/img/doctor.png" style="margin-left: 500px;margin-top: -40px;" alt="virus" width="90px" height="90px">
                </div>
                <hr>
        </div> 
    </div>
</div>