<div style="background-image: url(../../assets/img/covid.jpg) ;width: 100%;height: 750px;padding-top: 50px;">
    <div class="card"  style="width: 50%;height: auto;background-color: #80b3ff;margin-left: 25%;margin-bottom: 4%;">
        <div class="card-body">
            <hr>
            <div style="height: 200px;">
                <div style="text-align: center;" >
                <img src="../../assets/img/logoM.png"   alt="logo de ministere de la sante" width="250" height="200px"><br>
            </div>
            </div>
            <hr>
            <div style="margin-top:60px;text-align: center;" >
                <form> 
                    <div class="wrapper">
                        <button mat-raised-button type="submit" color="primary" class="btn col-md-6" routerLink="/notifier" style="text-align: center;height: 50px;">Notifier un citoyen</button><br><br>
                    </div>
                </form>
                <form> 
                    <div class="wrapper">
                        <button mat-raised-button type="submit" color="primary"  class="col-md-6" routerLink="/notifierGroup" style="text-align: center;height: 50px;">Notification par groupe</button><br><br>
                    </div>
                </form>
                <form> 
                    <div class="wrapper">
                        <button mat-raised-button type="submit" color="primary"  class="col-md-6" routerLink="/AccueilM" style="text-align: center;height: 50px;">Retour</button><br><br>
                    </div>
                </form>
                <form> 
                    <div class="wrapper">
                        <button mat-raised-button type="submit" color="primary"  class="col-md-6" routerLink="/logout" style="text-align: center;height: 50px;">Se déconnecter</button><br><br>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>
