<div style="background-image: url(../../assets/img/covid.jpg) ;width: 100%;height: 600px;padding-top: 50px;">
                <div class="card"  style="width: 50%;height: 500px;background-color:#80b3ff;margin-left: 25%;">
                <div class="card-body" style="text-align: center;">
                    <h3 class="img1" >Bienvenue à COVID19 WARRIORS!</h3>
                    <img src="../../assets/img/log.jpeg" style="border-radius: 8px; box-shadow: 1px 2px 12px #555;" alt="logo" width="250px" height="200px"><br>
                    <p style="color: #000033;margin-top: 20px;">Covid-19 Warriors est une application de suivi des coronavirus qui va 
                          vous permettre de savoir si vous etes trouvés à proximité d'une
                                   personne infectée par un coronavirus
                    </p>
                    <h2 style="color: #000033;">Commencez avec nous !</h2>
                    <br>
                    <div style="display: inline-block;">
                        <button  mat-raised-button color="primary" type="button"  routerLink="/login">Se connecter</button>
                        <a  mat-raised-button color="primary"  routerLink="/register" style="margin-left: 38px;text-decoration: none;">S'enregistrer</a>
                    </div>
                  
                </div>
    </div>
</div>